[Desktop Entry]
Icon=www
Name=http://www.csupomona.edu/%7Ejrfisher/www/prolog_tutorial/2_1.html
Type=Link
URL=http://www.csupomona.edu/%7Ejrfisher/www/prolog_tutorial/2_1.html
